.header{
	background-color: #007BFF;
	height: 60px;
	line-height: 70px;
}
.menu{
	float: right;
}

.menu a {
	color: #ffffff;
	margin-right: 20px;
}

form{
	margin-left: 25%;
	margin-right: 25%;
}

.btn btn-primary{
	color: #3498DB;
}

.form-sec{
	width:400px; 
	background:#ccc; 
	padding:15px;
	width: 400px;
    background: #f8f9fa;
    padding: 15px;
    box-shadow: 0 0 4px #ccc;
}